.detail-content {
    border: 1px solid #DCE4EA
}

.detail-content a,.detail-content .text-blue {
    color: #108cee;
}

.detail-content h2 {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #E5E5E5;
}


.detail-content section {
    position: relative;
    padding: 20px;
    overflow:hidden;
    border-bottom: 1px solid #DCE4EA;
}

.detail-content .section-header h4 {
    zoom: 1;
    font-weight: inherit;
}

.detail-content .section-header h4::before {
    content: '';
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    width: 4px;
    height: 16px;
    margin-right: 10px;
}

.detail-content .form-row>label {
    zoom: 1;
}

.detail-content .alarm-value-input {
    vertical-align:top;
}

.detail-content .account-panel .item {
    min-width: 200px;
    min-height: 115px;
    background: #f6f7fb
}


/** 添加银行卡 **/

.detail-content h2 .tabItem {
    box-sizing:content-box;
    cursor:pointer;
    padding:0 30px;
}

.detail-content h2 .tabItem.active {
    background:#fff;
    border:1px solid #f1f1f1;
    border-bottom-color:#fff;
}

.detail-content .account-panel .item.add {
    padding-top:35px;
}
.detail-content .account-panel .item.add:hover {
    box-shadow:0 0 10px 0 rgba(0,0,0,.3);
}

.detail-content .account-panel .item .del:hover {
    text-decoration:underline;
}
.detail-content .account-panel .addBlock::before,
.detail-content .account-panel .addBlock::after {
    content:"";
    position:absolute;
    background:#ccc;
}

.detail-content .account-panel .addBlock::before {
    width:30px;
    height:8px;
    left:0;
    top:11px;
}

.detail-content .account-panel .addBlock::after {
    width:8px;
    height:30px;
    left:11px;
    top:0;
}
.formBlock {
    padding-left:15%;
}
.formBlock > label {
    width:100px;
    line-height:34px;
    margin-left:-110px;
}

/** 提现历史记录 **/
.ch-list {
    display:-webkit-flex;
    display:flex;
    -webkit-align-items:center;
    align-items:center;
    height:50px;
}
.ch-list [class ^= ch-] {
    padding:0 15px;
}
.ch-list .ch-time{
    flex:0 0 15%;
}
.ch-list .ch-card{
    flex:1 1 40%;
}
.ch-list .ch-case{
    flex:1 0 15%;
}
.ch-list .ch-state{
    text-align:right;
    flex:1 0 15%;
}
.ch-list .ch-todo{
    text-align:right;
    flex:1 0 15%;
}
